@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    
    font-family: Ubuntu, Roboto;

    margin: auto;
    background: #1F2937;
    max-width: 1000px;
}

/* HEADER SECTION */ 

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #1F2937;
}

.header-logo {
    display:flex;
    align-items: center;
    gap: 16px;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;

    font-size: 26px;
    font-style: 900;
}

#logo {
    height: 80px;
    border-radius: 50%;
}

.header-links {
    display: flex;
    justify-content: space-between;

    font-size: 14px;
    font-style: bold;
    list-style-type: none;

    gap: 26px;
    margin: 12px;
    padding: 6px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

/* FIRST SECTION */

.section-one {
    display: flex;
    background: #1F2937;
    color: #F9FAF8;
    height: 360px;

    border: white solid 2px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.left-section, .right-section {
    display: flex;
    padding: 16px;
    max-width: 500px;
}

.left-section {
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0; */

    border: red solid 2px;
}

.left-section div {
    flex: 1;
    border: purple solid 2px;
}



.right-section {
    align-items: center;

    border: blue solid 2px;
}

.main-image {
    object-fit: contain;
    max-width: 468px;
    height: auto;
    padding: 0px;
    margin: 0px;

    border-top-right-radius: 5% 10%;
    border-bottom-right-radius: 5% 10%;
    border-top-left-radius:  5% 10%;
    border-bottom-left-radius:  5% 10%;
}

/* SECOND SECTION */

.section-two {
    display: flex;
    background: red;
    height: 360px;
}

/* THIRD SECTION */
.section-three {
    display: flex;
    background: purple;
    height: 360px;
}

/* FOURTH SECTION */
.section-four {
    display: flex;
    background: green;
    height: 360px;
}

/* FOOTER SECTION */
.footer {
    display: flex;
    background: black;
    color: #F9FAF8;
    height: 100px;
}